.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0e0e0e;
    color: rgb(0, 255, 42);
    text-align: center;
    padding: 10px 0;
    font-family: "Courier New", Courier, monospace;
    font-size: 24px;
    border-bottom: 2px solid #21bdd1;
    z-index: 1000;
}

body {
    background: linear-gradient(67deg, gray, rgb(34, 33, 33));
    background-position-x: center;
    background-size: cover;
}

body {
    /* background-color: #000000; */
    color: rgb(232, 112, 93);
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

/*  Tiltes 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; Text */



.title {
    text-align: center;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 50px;
}


.log {
    margin-top: auto;
    white-space: pre-line;
    width: 1400px;
    max-width: 95vw;
    background-color: hsla(0, 0%, 8%, 0.874);
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    font-size: larger;
}

@media (max-width: 1200px) {
    .log {
        width: 90vw;
    }
}

@media (max-width: 800px) {
    .log {
        width: 98vw;
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .log {
        width: 100vw;
        font-size: 14px;
        padding-left: 2vw;
        padding-right: 2vw;
    }
}

.footer {
    margin-top: auto;
    color: #21bdd1;
    padding-top: 20px;
    text-align: center;
    width: 100%;
    font-size: 20px;
}

.tr-image {
    position: absolute;
    top: 290px;
    right: 20px;
    border: 3px solid rgb(0, 0, 0);
    width: auto;
    height: 305px;
    max-width: 90vw;
    max-height: 40vh;
    z-index: 10;
    box-sizing: border-box;
}

@media (max-width: 900px) {
    .tr-image {
        height: 200px;
        max-height: 30vh;
    }
}

@media (max-width: 600px) {
    .tr-image {
        height: 120px;
        max-height: 20vh;
        right: 10px;
        top: 180px;
    }
}

.log-with-image {
    margin-top: auto;
    white-space: pre-line;
    width: 1100px;
    background-color: #141414;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-size: larger;
}

.w2 {
    white-space: pre-line;
    font-size: 30px;
}